<!-- templates/500.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SKGEzhil Storage Service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layouts.css') }}"/>
    {% endblock stylesheet %}
</head>

<style>
    .bg-red {
        background-color: #ff5a5a;
    }
</style>

<body class="bg-red">

<div class="mobnav bg-red">
    <a href="{{ url_for('main.index') }}" class="navbar-item center-content">
        Home
    </a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.upload_file') }}" class="navbar-item center-content">
            Upload
        </a>
        <a href="{{ url_for('main.photo_viewer') }}" class="navbar-item center-content">
            Photos
        </a>
    {% endif %}
    {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}" class="navbar-item center-content">
            Login
        </a>
        <a href="{{ url_for('auth.signup') }}" class="navbar-item center-content">
            Sign Up
        </a>
    {% endif %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}" class="navbar-item center-content">
            Logout
        </a>
    {% endif %}

</div>

<script>
    function four() {
        for (i = 0; i < elements.length; i++) {
            elements[i].style.msFlex = "25%";  // IE10
            elements[i].style.flex = "25%";
        }
    }
</script>
<script src="yall.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", yall);
</script>

<section class="hero is-primary is-fullheight">


    <div class="hero-head bg-red">
        <nav class="navbar">
            <div class="container">

                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('main.index') }}" class="navbar-item">
                            Home
                        </a>
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.upload_file') }}" class="navbar-item">
                                Upload
                            </a>
                            <a href="{{ url_for('main.photo_viewer') }}" class="navbar-item">
                                Photos
                            </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body bg-red">
        <div class="container has-text-centered">
            <h1 class="title">
                There were some Internal Errors in the server, Please check back after some time
            </h1>
        </div>
    </div>

</section>


</body>

</html>
